.bg-video {
  position: relative;
  top: 0;
  left: 0;
  height: 120%;
  width: 100%;
  z-index: -1;
  opacity: 0.15;
  overflow: hidden;

  &__content {
    height: 120%;
    width: 100%;
    object-fit: cover;
  }
}
