.section-about-features {
  padding: 10rem 0;

  @include respond(tab-port) {
    padding: 5rem 0;
  }
}

.section-about-ceo {
  padding: 10rem 0;
  background-color: $color-white;

  &__content-wrap {
    max-width: 1100px;
    margin: 0 auto;
  }

  &__text {
    position: relative;
  }

  &__alignleft {
    margin: 0px 25px 25px 0px;
    float: left;
  }

  @include respond(tab-port) {
    padding: 5rem 0;
  }
}

.section-about-logo {
  padding: 10rem 0;

  &__content-wrap {
    max-width: 1100px;
    margin: 0 auto;
  }

  &__text {
    position: relative;
  }

  &__alignleft {
    margin: 0px 25px 25px 0px;
    float: left;
  }

  @include respond(tab-port) {
    padding: 5rem 0;
  }
}
