.section-capabilities-comprehensive {
  padding: 10rem 0;

  @include respond(tab-port) {
    padding: 5rem 0;
  }
}

.section-capabilities-features {
  padding: 10rem 0;
  background-color: $color-white;

  @include respond(tab-port) {
    padding: 5rem 0;
  }
}
