.section-contactus-features {
  padding: 10rem 0;

  @include respond(tab-port) {
    padding: 5rem 0;
  }
}

.section-contactus-form {
  padding: 10rem 0;
  background-color: $color-white;

  @include respond(tab-port) {
    padding: 5rem 0;
  }
}

.contact {
  background-repeat: no-repeat;
  background-image: linear-gradient(
      98deg,
      rgba($color-white, 0.9) 0%,
      rgba($color-white, 0.9) 60%,
      transparent 65%
    ),
    url(/img/contactusform.jpg);
  background-size: cover;
  border-radius: 5px;
  box-shadow: 0 1.5rem 4rem rgba($color-black, 0.2);

  @include respond(tab-land) {
    background-image: linear-gradient(
        98deg,
        rgba($color-white, 0.9) 0%,
        rgba($color-white, 0.9) 60%,
        transparent 65%
      ),
      url(/img/contactusform.jpg);
    background-size: cover;
  }

  @include respond(tab-port) {
    background-image: linear-gradient(
        to right,
        rgba($color-white, 0.9) 0%,
        rgba($color-white, 0.9) 100%
      ),
      url(/img/contactusform.jpg);
  }

  &__form {
    width: 60%;
    padding: 6rem 2rem;

    @include respond(tab-land) {
      width: 63%;
    }

    @include respond(tab-port) {
      width: 100%;
    }
  }
}
