.section-about {
  padding: 15rem 0;
  margin-top: -10vh;

  @include respond(tab-port) {
    padding: 15rem 0;
  }
}

.section-features-process {
  padding: 10rem 0;
  background-image: url(/img/features.png);
  background-size: cover;
  background-color: $color-white;
  margin-top: -5rem;

  @include respond(tab-port) {
    padding: 10rem 0;
  }
}

.section-mission {
  padding: 20rem 0;
  background-image: url(/img/xpservicemission.jpg);
  background-size: cover;
  margin-top: -10rem;
  color: $color-white;

  @include respond(tab-port) {
    padding: 20rem 0;
    color: $color-white;
  }
}

.section-contact {
  background-color: $color-primary;
  padding: 4rem 0;
  font-size: $default-font-size;
  font-weight: 500;
  color: $color-white;

  @include respond(tab-port) {
    padding: 10rem 0;
  }
}

.section-footer {
  margin-top: 1rem;

  @include respond(tab-port) {
    padding: 10rem 0;
  }
}
